<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title> <%= title %> </title>
</head>
<body>
    
    <nav>
        <a href="/restaurants">All Restaurants</a> |
        <a href="/restaurants/new">Add Restaurant</a>
    </nav>
    
    <header>
        <h1><%= title %></h1>
    </header>
